.btn
  display: inline-block
  font-weight: 400
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  border: 1px solid transparent
  padding: 0.375rem 0.75rem
  font-size: 1rem
  line-height: 1.5
  border-radius: 0.25rem
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

.btn:hover, .btn:focus
  text-decoration: none

.btn:focus, .btn.focus
  outline: 0
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)

.btn.disabled, .btn:disabled
  opacity: 0.65

.btn:not(:disabled):not(.disabled)
  cursor: pointer

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active
  background-image: none

a.btn.disabled,
fieldset:disabled a.btn
  pointer-events: none

.btn
  border-radius: 0
  text-transform: uppercase
  border: 1px solid
  cursor: pointer
  padding: 10px 27px
  @include transition

  &.btn-primary
    background-color: $color-primary
    color: white
    border-color: $color-primary

    &:hover, &:focus
      background-color: transparent
      color: $color-primary
      
  &.btn-secondary
    background-color: $color-secondary
    color: white
    border-color: $color-secondary

    &:hover, &:focus
      background-color: transparent
      color: $color-secondary
      
  &.btn-outline-tertiary
    background-color: transparent
    color: white
    border-color: $white
    border-radius: 5px

    &:hover, &:focus
      background-color: white
      color: black
      
  

button.no-style
  border: 0
  background-color: transparent

