h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  margin-bottom: 0.5rem
  font-family: inherit
  font-weight: 500
  line-height: 1.2
  color: inherit
  font-family: $font-primary

h1, .h1
  font-size: 2.5rem

h2, .h2
  font-size: 2rem

h3, .h3
  font-size: 1.75rem

h4, .h4
  font-size: 1.5rem

h5, .h5
  font-size: 1.25rem

h6, .h6
  font-size: 1rem

.display-1
  font-size: 6rem
  font-weight: 300
  line-height: 1.2

.display-2
  font-size: 5.5rem
  font-weight: 300
  line-height: 1.2

.display-3
  font-size: 4.5rem
  font-weight: 300
  line-height: 1.2

.display-4
  font-size: 3.5rem
  font-weight: 300
  line-height: 1.2