//- nav.site-nav
//-   .nav-container
//-     .main-logo
//-       a(href="index.html")
//-         .image-100
//-           img(src="/assets/img/logo.png", alt="")
//-     .main-menu-wrapper
//-       ul
//-         li
//-           a(href="index.html").is-active Accueil
//-         li
//-           a(href="biplace.html") OUEP
//-         li
//-           a(href="stage.html") UIIIII
//-         li
//-           a(href="index.html") YOUPIIII
//-         li
//-           a(href="blog.html") CHOUETTE
//-         li
//-           a(href="contact.html") BREF.
//-         li
//-           a(href="produit.html").is-cta Ne pas cliquer
//-         .shop-icons.d-lg-none.d-flex
//-           .shop-icon-wrapper
//-             a(href="#")
//-               +svg('cart')
//-           .shop-icon-wrapper
//-             a(href="#")
//-               +svg('user')
//-     .shop-icons.d-none.d-lg-flex
//-       .shop-icon-wrapper
//-         a(href="#")
//-           +svg('cart')
//-       .shop-icon-wrapper
//-         a(href="#")
//-           +svg('user')
//-     .burger-wrapper.d-lg-none
//-       button.hamburger.hamburger--spin(type='button')
//-         span.hamburger-box
//-           span.hamburger-inner
    
//-     //- .phone-cta-wrapper
//-     //-   .phone-cta
//-     //-     span
//-     //-       +svg('phone')
//-     //-     span +33 6 13 63 55 74