extends partials/default.pug

block title
  title Static-Dev

block content

    section.biplace     
        - wiki = 'https://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Accueil_principal'
        - weekend = 'https://estcequecestbientotleweekend.fr/'
        
        
        .container
            .row
                .biplace--text.col-12
                    h1.text-center Welcome Home
                    h5.text-muted.text-center ceci est un sous titre qui sert de description, voilà tout les gens. je n'ai rien de précis à déclarer. Mais comme l'a dit un grand homme " You can be do what you want to do"
                           
                .biplace--block.card.col-12.col-md
                    h2.card-title.text-center.biplace--title Wikipedia
                    p.text-muted.card-text.biplace--description blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla
                    .d-flex.align-items-center
                        a.card-link.biplace--link( href=wiki ) faire un ptit tour

                .biplace--block.card.col-12.col-md
                    h2.card-title.text-center.biplace--title c'est bientot le week-end ?
                    p.text-muted.card-text.biplace--description blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla
                    .d-flex.align-items-center
                        a.card-link.biplace--link( href=weekend ) vérifier

