.card
  margin-bottom: 30px
  background-color: #fff
  border: 0
  position: relative
  @include transition
  bottom: 0
  box-shadow: 0 0px 0px #94949494

  &:hover
    bottom: 5px
    box-shadow: 0 2px 20px #94949494
  &--image
    img
      width: 100%
  &--content
    padding: 20px
  &--title
    font-size: 1.3em
    color: black
  &--date
    color: $color-primary
    text-transform: uppercase
  &--text
    color: black
    margin-top: 10px