.biplace
    background-image: url('https://i.pinimg.com/originals/50/5c/86/505c86078071cfa05794264907521db9.jpg')
    background-repeat: no-repeat
    background-size: cover
    height: 100vh
    width: 100vw
    
    &--block
        margin: 20px
        padding: 30px
        border: 3px solid $color-primary
        color: $color-primary
        background-color: rgba(0,0,0,0.5)

    &--text
        margin: 5vw 0 5vw 0
        color: $color-primary

    &--link
        border: 2px solid $color-primary
        padding: 10px 
        margin: 0 auto
    
    &--title
        padding-bottom: 20px

    &--description
        padding-bottom: 20px