nav.site-nav
  position: fixed
  width: 100%
  font-weight: 600
  padding: 10px 25px
  background-color: white
  z-index: 100
  box-shadow: 0px 2px 12px 2px #00000033

  .nav-container
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    max-width: 1500px
    margin: 0 auto

  .main-logo
    width: 120px
    z-index: 9
    img
      min-width: 120px
      min-height: 100px
  
  .main-menu-wrapper
    position: fixed
    right: -100%
    top: 0
    bottom: 0
    background: white
    z-index: 1
    padding-top: 140px
    width: 100%
    max-width: 400px
    overflow: auto
    @include transition
    &.is-open 
      right: 0
      box-shadow: -8px 0px 16px 7px #00000038
    ul
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      width: 100%
      li
        display: inline-block
        padding: 20px 5px
        a
          position: relative
          text-transform: uppercase
          display: inline-block
          text-align: center
          color: black
          @include transition
          &::after
            content: ""
            position: absolute
            bottom: -8px
            left: 0
            height: 3px
            width: 0
            background-color: $color-secondary
            @include transition
          &:hover, &.is-active
            &::after
              width: 100%

          &.is-cta
            color: white
            background-color: $color-secondary
            padding: 13px 20px
            border-radius: 20px
            &::after
              content: unset !important
  .shop-icons
    display: flex
    .shop-icon-wrapper
      padding: 5px 15px
      svg
        width: 30px
        height: 30px

  .phone-cta-wrapper
    .phone-cta
      background-color: $color-primary
      display: flex
      align-items: center
      height: 30px
      padding: 5px 5px
      border-radius: 20px
      span
        color: white
        svg 
          width: 30px
          height: 30px
  
  .burger-wrapper
    z-index: 9

  @include breakpoint_md()
    .main-menu-wrapper
      flex-grow: 1
      position: relative
      right: unset
      top: unset
      bottom: unset
      padding-top: unset
      width: unset
      max-width: unset
      transition: unset
      &.is-open 
        box-shadow: unset
      ul
        width: 100%
        flex-direction: row
    .shop-icons
      .shop-icon-wrapper
        padding: 0 5px
        svg
          width: 25px
          height: 25px